[project]
    channels  = ["conda-forge"]
    name      = "ocr"
    platforms = ["linux-64", "osx-arm64", "osx-64"]

[pypi-dependencies]
    ocr = { path = ".", editable = true }

# conda specific deps
[dependencies]
python = ">=3.12"

[tool.pixi.pypi-options]
only-binary = ["rasterio", "geopandas", "cartopy"]

[environments]
    default = { solve-group = "default" }
    data-mgmt = { features = ["data-mgmt"], solve-group = "default" }
    lint = { features = ["lint"], solve-group = "default" }
    test = { features = ["test"], solve-group = "default" }
    docs = { features = ["docs"], solve-group = "default" }
    dev = { features = ["dev"], solve-group = "default" }

[feature.data-mgmt.pypi-dependencies]
ocr = { path = ".", editable = true, extras = ["data-mgmt"] }

[feature.lint.pypi-dependencies]
ocr = { path = ".", editable = true, extras = ["lint"] }

[feature.test.pypi-dependencies]
ocr = { path = ".", editable = true, extras = ["test"] }

[feature.docs.pypi-dependencies]
ocr = { path = ".", editable = true, extras = ["docs"] }

[feature.dev.pypi-dependencies]
ocr = { path = ".", editable = true, extras = ["dev"] }

[feature.test.tasks]
    tests = { cmd = "pytest" }

[feature.lint.tasks]
    format = { cmd = "ruff format" }
    lint = { cmd = "ruff check" }
    precommit = { cmd = "pre-commit run --all-files" }

[feature.docs.tasks]
    docs-serve = { cmd = "mkdocs serve" }
    docs-build = { cmd = "mkdocs build" }

[feature.data-mgmt.tasks]
    jupyter = { cmd = "jupyter lab" }

[tasks]
    export-conda-file = { cmd = "pixi project export conda-environment > environment.yml" }
    start-coiled-notebook = { cmd = "coiled notebook start --sync --vm-type m5.xlarge --sync-ignore .pixi" }
    start-coiled-notebook-bigger = { cmd = "coiled notebook start --sync --vm-type m5.2xlarge --sync-ignore .pixi" }
