[build-system]
    build-backend = "setuptools.build_meta"
    requires      = ["setuptools-scm[toml]>=6.2", "setuptools>=64", "wheel"]

[project]
dependencies    = [
    "bokeh>=3.7.3",
    "bottleneck>=1.5.0",
    "cartopy>=0.24.1",
    "click>=8.2.1",
    "coiled==1.101.1",
    "distributed>=2025.5.1",
    "duckdb>=1.3.0",
    "flox>=0.10.4",
    "fsspec>=2025.5.1",
    "geopandas>=1.0.1",
    "icechunk",
    "jupyter-server-proxy>=4.4.0",
    "jupyter>=1.1.1",
    "jupyterlab>=4.4.0",
    "numba>=0.61.2",
    "numbagg>=0.9.0",
    "obstore>=0.6.0",
    "odc-geo>=0.4.10",
    "opencv-python>=4.11.0.86",
    "opt-einsum>=3.4.0",
    "pyarrow>=20.0.0",
    "pydantic>=2.11.5",
    "rasterio>=1.4.3",
    "rioxarray>=0.19.0",
    "s3fs>=2025.5.1",
    "xarray>=2025.4.0",
    "zarr>=3.0.8",
    "pre-commit>=4.2.0",
]


dynamic         = ["version"]
name            = "ocr"
requires-python = ">= 3.12"


[project.optional-dependencies]
lint = [
    "pre-commit>=4.2.0",
    "ruff>=0.11.0",
    "ty>=0.0.1a7",
    "pre-commit>=4.2.0"
]
test = [
    "pytest>=8.3.5",
    "pytest-cov>=6.0.0",
    "ipdb>=0.13.13"
]
data-mgmt = [
    "boto3>=1.37.1",
    "jupyterlab>=4.3.6",
    "planetary-computer>=1.0.0",
    "geemap>=0.35.3",
    "earthengine-api>=1.5.11",
    "adlfs>=2024.12.0",
    "gcsfs>=2025.5.1",
    "patool>=4.0.0",
    "awscli>=1.40.26",
]

# Docs includes lint tools for code formatting in docs
docs = [
    "ocr[lint]",
    "markdown-exec>=1.10.3",
    "mkdocs>=1.6.1",
    "mkdocs-click>=0.9.0",
    "mkdocs-material>=9.6.14",
    "mkdocstrings>=0.29.1",
    "mkdocstrings-python>=1.16.12",
]


dev = ["ocr[test,lint,docs]"]


[tool.setuptools.packages.find]
    include = ["ocr*"]

[tool.setuptools_scm]
    fallback_version = "999"
    local_scheme     = "node-and-date"
    version_scheme   = "post-release"

[tool.coverage.run]
    branch = true
    omit   = ["tests/*"]

[tool.ruff]
    extend-include = ["*.ipynb"]
    line-length    = 100
    target-version = "py312"

    builtins = ["ellipsis"]
    # Exclude a variety of commonly ignored directories.
    exclude = [
        ".bzr",
        ".direnv",
        ".eggs",
        ".git",
        ".git-rewrite",
        ".hg",
        ".ipynb_checkpoints",
        ".mypy_cache",
        ".nox",
        ".pants.d",
        ".pyenv",
        ".pytest_cache",
        ".pytype",
        ".ruff_cache",
        ".svn",
        ".tox",
        ".venv",
        ".vscode",
        "__pypackages__",
        "_build",
        "buck-out",
        "build",
        "dist",
        "node_modules",
        "site-packages",
        "venv",
    ]

[tool.ruff.lint]
    ignore = [
        "E501", # Conflicts with ruff format
        "E721", # Comparing types instead of isinstance
        "E741", # Ambiguous variable names
    ]
    per-file-ignores = {}
    select = [
        # Pyflakes
        "F",
        # Pycodestyle
        "E",
        "W",
        # isort
        "I",
        # Pyupgrade
        "UP",
    ]

[tool.ruff.lint.mccabe]
    max-complexity = 18

[tool.ruff.lint.isort]
    combine-as-imports = true
    known-first-party  = []

[tool.ruff.format]
    docstring-code-format = true
    quote-style           = "single"

[tool.ruff.lint.pydocstyle]
    convention = "numpy"

[tool.ruff.lint.pyupgrade]
    # Preserve types, even if a file imports `from __future__ import annotations`.
    keep-runtime-typing = true

[tool.pytest.ini_options]
    addopts = [
        "--cov-report=term-missing",
        "--cov-report=xml",
        "--cov=./ocr",
        "--verbose",
    ]
    console_output_style = "count"

[tool.uv.sources]
ocr = { workspace = true }
