name: docs

on:
    workflow_dispatch:
    push:
        branches:
            - main
        paths:
            - "docs/**"
            - "mkdocs.yml"
    pull_request:
        paths:
            - "docs/**"
            - "mkdocs.yml"

permissions:
    id-token: write
    contents: write

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    deploy:
        timeout-minutes: 15
        environment:
            name: docs
            url: https://carbonplan.github.io/ocr
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5

            - name: configure aws credentials
              uses: aws-actions/configure-aws-credentials@v5
              with:
                  role-to-assume: arn:aws:iam::631969445205:role/github-action-role
                  role-session-name: ocr-etl-role-session
                  aws-region: us-west-2
            - name: Configure Git Credentials
              run: |
                  git config user.name github-actions[bot]
                  git config user.email 41898282+github-actions[bot]@users.noreply.github.com
            - uses: actions/setup-python@v6
              with:
                  python-version: 3.x
            - uses: prefix-dev/setup-pixi@v0.9.2
              with:
                  cache: false # no pixi.lock
                  locked: false
                  activate-environment: true

            - run: pixi info
            - name: List installed libraries/packages
              run: |
                  pixi list -e docs
            - name: Deploy docs
              run: pixi run -e docs mkdocs gh-deploy --force --verbose
